{{ define "main" }}
  {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
  {{ range sort .Paginator.Pages }}
  <article>
    <h2>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <h5>
      <!-- 17/03/2019 use partial for date (supports predefined format for different languages than English ) -->
      {{ partial "posts/date" . }}
    </h5>
    <p class="markdown">
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .Permalink }}">...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
