button {
    background-color: $gray-500;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: $gray-600;
}

mark {
    color: $body-font-color;
    background:  #ffe4e1;
    letter-spacing: 3px;
}

abbr {
    text-decoration: underline dashed $gray-700;
}

hi-gr {
    background: #c1ffc1;
    letter-spacing: 3px;
}

// id for bottom links to previous/next entry
#next-prev {
    color: $gray-600;
    font-size: small;
}
